[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "site-lisp/rinari"]
	path = site-lisp/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "snippets/yasnippets-rails"]
	path = snippets/yasnippets-rails
	url = https://github.com/eschulte/yasnippets-rails.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm
[submodule "site-lisp/emmet-mode"]
	path = site-lisp/emmet-mode
	url = https://github.com/smihica/emmet-mode.git
